<main class="card card--light">
    <h3 class="border">{{question}}</h3>
    <div class="border">
        <div class="grid group">

            <div class="card-content grid-box grid-box--3of5">
                <ul class="list list--answer">
                  <div class="grid-box grid-box--2of5">
                      <div class='progress'>
                        A. {{choice1}} ({{percentage1}}%)
                      </div>
                      <div class='progress'>
                        B. {{choice2}} ({{percentage2}}%)
                      </div>
                      <div class='progress'>
                        C. {{choice3}} ({{percentage3}}%)
                      </div>
                  </div>
                </ul>
            </div>

        </div>
    </div>
</main>
